<template name="ApplicationLayout">

    <head>
        <title>ChatRoom</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        {{> header}} {{> posts}} {{> form}}
    </body>
</template>