<template name="header">
<nav>
    <div class=" green nav-wrapper">
        <ul class="right pads">
            <li><a href="#" class="brand-logo center">Chat Room</a></li>
            <li><i class="material-icons">chat_bubble_outline</i></li>
        </ul>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><i class="material-icons">person_pin</i></li>
          <li>{{> loginButtons}}</li>
      </ul>
    </div>
  </nav>
</template>

<template name="form">
    <form class="add-new-post">
    <input/>
        <button class="btn waves-effect waves-light #66bb6a green lighten-1 center">Submit</button>
    </form>
</template>

<template name="posts">
<ul>
    {{#each postList}}
    <li><p class="btn waves-effect waves-light #64dd17 light-green accent-4">{{username}}</p> : {{this.name}}</li>
    {{/each}}
    </ul>
</template>